<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="ConnStringLocal" connectionString="Server=localhost;Database=Academia;Integrated&#xA;Security=false; User=net; Password=net;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringExpress" connectionString="Server=localhost\SqlExpress;Database=Academia;&#xA;Integrated Security=true;"
          providerName="System.Data.SqlClient" />
      <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=Academia; Integrated&#xA;Security=false; User=net; Password=net;"
          providerName="System.Data.SqlClient" />
      <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
          connectionString="Data Source=localhost\Sqlexpress;Initial Catalog=Academia;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>